header{
  border: 1px solid blue;
  /* max-height: 750px; */
  background-image: url(/assets/Background_Intro.png);
  /* object-fit: cover; */
  background-size: cover;
  text-align: center;
  
  display: flex;
  justify-content: center;
  
  .info{
    max-width: 1040px;
    width: 100%;
    border: 1px solid yellow;
    color: white;
    
    /* display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end; */



    .perfil{
      max-height: 447px;
      margin: 120px 163px 0;
      /* border: 1px solid red; */
      width: 680px;

    }
        
    .perfil>img{
          margin-bottom: 64px;
        }
    
    .perfil .description{
      font: var(--description);
      margin-bottom: 8px;
    }
    .perfil .description span{
      color: var(--red);
      
    }

    .perfil h1{
      font: var(--h1);
      margin-bottom: 20px;
    }

    .perfil ul{
      margin-bottom: 183px;
    }

    .test{
      display: flex;
      flex-direction: row;
      
    }

    .perfil p:nth-child(4){
      font: var(--text);
      color: var(--gray-400);
    }

  }

}

